<h1 mat-dialog-title>Enter Room and Guest Counts</h1>
<div mat-dialog-content>
  <button  mat-stroked-button color="primary"  [ngStyle]="{marginBottom: '20px'}" (click)="addCategories()">Add Category</button>
  <form>
  <table cellspacing="0">
    <tr *ngFor="let cat of data.categories; let i = index">
      <td>
        <mat-form-field appearance="outline">
          <mat-label># Of Rooms</mat-label>
          <input matInput type="number" placeholder="1" [(ngModel)]="cat.numberOfRooms" name="roomCount{{i}}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label># Of Adults</mat-label>
          <input matInput type="number" placeholder="1"  [(ngModel)]="cat.numberOfAdults" name="adultCount{{i}}">
        </mat-form-field>
      </td>
    </tr>
  </table>
  </form>
</div>
<div mat-dialog-actions>
  <button  mat-stroked-button  [mat-dialog-close]="data.categories">Cancel</button>
  <button [ngStyle]="{marginLeft: '10px'}"  mat-stroked-button [mat-dialog-close]="data.categories" cdkFocusInitial>Done</button>
</div>
